:root{
    /* ### Primary */
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    /* ### Neutral */
    --Darkgray: hsl(0, 0%, 59%);
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg); 
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-position: top -45vh left -45vw,right -45vw bottom -50vh;
    background-size: 100% 100%, 100% 100%;
    transition: background 350ms;
    /*to center the card*/
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.card{
    width: 375px;
    background: #fff;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    color: var(--Verydarkdesaturatedblue);
    font-weight: 700;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card__background{
    height: 140px;
    background: var(--Darkcyan) url(images/bg-pattern-card.svg);
    margin-bottom: 75px;
}

.card__img{
    border-radius: 50%;
    position: relative;
    top: 88px;
    border: 5px solid #fff;
}

.card__content{
    margin-bottom: 30px;
}

.card__flex{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(206, 205, 205, 0.445);
    padding: 25px 40px;
}
.flex-item{
    flex: 1;
}

.card__name, .flex__stats{
    font-size: 18px;
    margin: 0;
}

.flex__text, .card__city{
    color: var(--Darkgray);
    font-weight: 400;
}

.card__age{
    margin-left: 5px;
    font-weight: 400;
    opacity: .8;
}
.flex__text{
    margin: 2px;
    font-size: .7em;
}

.attribution{
    opacity: .3; 
    position: fixed;
    top: 20px;
    right: 20px;
}
.attribution:hover{
    opacity: .9;
}

@media screen and (min-width: 600px) {
    body{ 
    background-position: top -45vh left -12vw,right -10vw bottom -50vh;
    background-size: 60% 100%, 60% 100%;  
    }   
}